name: Build Mac Wheels

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      isNightly:
        type: boolean
        required: true
        default: false
env:
  PIP_BREAK_SYSTEM_PACKAGES: 1

jobs:
  build-wheels-arm64:
    runs-on: self-hosted-mac-x64
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install cibuildwheel build

      - name: Create source distribution
        working-directory: python
        run: |
          python -m build --sdist
          mkdir -p ../dist
          cp dist/*.tar.gz ../dist/graphar.tar.gz

      - name: Build wheels for Apple Silicon
        uses: pypa/cibuildwheel@v2.22
        env:
          CIBW_SKIP: pp*
          CIBW_ARCHS_MACOS: arm64
          CIBW_BUILD_VERBOSITY: 3
          MACOSX_DEPLOYMENT_TARGET: 11.0
        with:
          package-dir: ./dist/graphar.tar.gz
          output-dir: ./dist/wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: macos-wheels-arm64
          path: ./dist/wheelhouse/*.whl

  build-wheels-x86_64:
    runs-on: self-hosted-mac-x64
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install cibuildwheel build

      - name: Create source distribution
        working-directory: python
        run: |
          python -m build --sdist
          mkdir -p ../dist
          cp dist/*.tar.gz ../dist/graphar.tar.gz

      - name: Build wheels for Intel
        uses: pypa/cibuildwheel@v2.22
        env:
          CIBW_SKIP: pp* cp36*
          CIBW_ARCHS_MACOS: x86_64
          CIBW_BUILD_VERBOSITY: 3
          MACOSX_DEPLOYMENT_TARGET: 11.0
        with:
          package-dir: ./dist/graphar.tar.gz
          output-dir: ./dist/wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: macos-wheels-x86_64
          path: ./dist/wheelhouse/*.whl